.cover-image.svelte-rcui05{margin-top:1em;max-height:100px;object-fit:cover}@media(min-width: 700px){.cover-image.svelte-rcui05{width:100%;max-height:250px;object-fit:cover;object-position:50% 50%}}
.intro.svelte-1sahtqu{margin:2em 0}@media(min-width: 700px){.intro.svelte-1sahtqu{margin:4em 0 2em 0;display:grid;grid-template-columns:minmax(0, 1fr)
        minmax(50px, 160px)
        minmax(50px, 160px)
        minmax(50px, 160px)
        minmax(50px, 160px)
        minmax(50px, 160px)
        minmax(50px, 160px)
        minmax(0, 1fr);grid-gap:25px}h1.svelte-1sahtqu{grid-row:1;grid-column:2 / 6;margin:0}p.svelte-1sahtqu{grid-row:2;grid-column:2 / 6;margin:0}}
.brow-container.svelte-g5k4cz{margin:1.5em 0}@media(min-width: 700px){.brow-container.svelte-g5k4cz{display:grid;grid-template-columns:minmax(0, 1fr)
        minmax(50px, 160px)
        minmax(50px, 160px)
        minmax(50px, 160px)
        minmax(50px, 160px)
        minmax(50px, 160px)
        minmax(50px, 160px)
        minmax(0, 1fr);grid-gap:25px}.brow-copy-left.svelte-g5k4cz{grid-column:2 / 5}.brow-copy-right.svelte-g5k4cz{grid-column:5 / 8;text-align:right}h2.svelte-g5k4cz{margin:0}}
.square-img.svelte-1491ch4.svelte-1491ch4{display:none}.content-block.svelte-1491ch4.svelte-1491ch4{margin:2em 0}@media(min-width: 700px){.content-block.svelte-1491ch4.svelte-1491ch4{display:grid;grid-template-columns:minmax(0, 1fr)
        minmax(50px, 160px)
        minmax(50px, 160px)
        minmax(50px, 160px)
        minmax(50px, 160px)
        minmax(50px, 160px)
        minmax(50px, 160px)
        minmax(0, 1fr);grid-gap:25px;margin:2em 0 4em 0}.title-left.svelte-1491ch4.svelte-1491ch4{grid-row:1;grid-column:2 / 8;margin:0.3em 0;justify-self:left}.title-right.svelte-1491ch4.svelte-1491ch4{grid-row:1;grid-column:2 / 8;margin:0.3em 0;justify-self:right}.paragraph-left.svelte-1491ch4.svelte-1491ch4{grid-row:2;grid-column:2 / 5}.paragraph-right.svelte-1491ch4.svelte-1491ch4{grid-row:2;grid-column:5 / 8}.align-right.svelte-1491ch4.svelte-1491ch4{text-align:right}.wide-img-left.svelte-1491ch4.svelte-1491ch4{grid-row:1 / 4;grid-column:1 / 5;width:100%;min-height:400px;max-height:500px;object-fit:cover;object-position:80%}.wide-img-right.svelte-1491ch4.svelte-1491ch4{grid-row:1 / 4;grid-column:5 / 9;width:100%;min-height:400px;max-height:600px;object-fit:cover;object-position:0}.square-img.svelte-1491ch4.svelte-1491ch4{display:inline-block;grid-row:3 / 4;grid-column:4 / 6}.iframe-container.svelte-1491ch4.svelte-1491ch4{overflow:hidden;padding-top:56.25%;position:relative;grid-row:3 / 4;grid-column:3 / 8}.iframe-container.svelte-1491ch4 iframe.svelte-1491ch4{border:0;height:100%;left:0;position:absolute;top:0;width:100%}}
