h2.svelte-cqfrbx{font-family:"Syne", sans-serif;font-size:2.5em;font-weight:400;text-transform:uppercase;color:white;letter-spacing:0.02em;margin:0.5em 0}.hello.svelte-cqfrbx{text-decoration:none;color:white}.hello.svelte-cqfrbx:hover{text-decoration:underline}@media(min-width: 700px){h2.svelte-cqfrbx{font-size:4.5em}.hello-container.svelte-cqfrbx{display:grid;grid-template-columns:minmax(0, 1fr)
        minmax(50px, 160px)
        minmax(50px, 160px)
        minmax(50px, 160px)
        minmax(50px, 160px)
        minmax(50px, 160px)
        minmax(50px, 160px)
        minmax(0, 1fr);grid-gap:25px}.hello-left.svelte-cqfrbx{grid-row:1;grid-column:2 / 8;margin:0}.hello-right.svelte-cqfrbx{grid-row:1;grid-column:2 / 8;justify-self:right;margin:0}}
