:root {
  --main-bg-color: #1e1e1e;
  --darker-black: #0f0f0f;
  --title-color: white;
  --text-color: #d6d6d6;
  --link-color: #a1a1a1;
  --dimmed-color: #a1a1a1;
  --font-family: "Helvetica", "Arial", "sans-serif";
  --header-font-family: "DejaVu Sans", "SF Pro Display", "Segoe UI Light", "sans-serif";
}

body {
  background-color: var(--main-bg-color);
  font-family: var(--font-family);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin: 1em 1em 3em;
}

p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

a {
  color: var(--link-color);
  font-size: 1.25rem;
}

a:hover {
  color: var(--title-color);
  font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font-family);
  color: var(--title-color);
}

h1 {
  font-size: 3.5rem;
  font-weight: 100;
}

h2 {
  font-weight: 600;
  font-size: 2rem;
}

h3 {
  font-weight: 400;
  font-size: 1.5rem;
}

img {
  width: 100%;
  height: auto;
  display: inline-block;
}

pre {
  font-size: 1.1rem;
  padding: 1em;
  overflow: scroll;
}

hr {
  margin: 2rem 0 3em;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

#logo {
  text-decoration: none;
  color: var(--text-color);
  display: inline;
}

#logo svg {
  min-width: 40px;
  min-height: 27px;
  width: 2.5rem;
  height: auto;
}

#logo:hover {
    filter: brightness(110%);
}

#logo a{
  text-decoration: none;
}

nav a {
  text-decoration: none;
  margin-left: 1em;
  color: var(--link-color);
}

nav a:hover {
  text-decoration: underline;
  color: var(--link-color);
}

.current-page {
  text-decoration: none;
  color: var(--title-color); 
}

.current-page:hover {
  text-decoration: underline;
  color: var(--title-color); 
}

.post-meta {
  font-style: italic;    
  color: var(--link-color);
  font-size: 1rem;
}

.post-title-link{
  color: var(--title-color);
  text-decoration: none;
  font-size: 2rem;
}

.post-title-link:hover {
  text-decoration: underline;
  font-size: 2rem;
}

footer {
  padding: 2em 0;
  margin-top: auto;
  background-color: var(--darker-black);
}

footer #links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer a {
    padding: 0.5em 0.8em;
}

@media (min-width: 51rem) {
  body {
    align-items: center;
  }

  header {
    width: 51rem;
    margin: 1em 0;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  main {
    width: 51rem;
    margin: 0 0 4em;
  }

  footer {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  footer #links {
    width: 51rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
}
